<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
        <form method="post" action="/login">
            <h1>Login now</h1>
            <input type="text" name="name" placeholder="Enter your email"/>
            <input type="email" name="email" placeholder="Enter your password"/>
            <button type="submit">Login</button>
        </form>
    </main>
</body>
</html>